section:nth-of-type(2) article  {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	
}

section:nth-of-type(2) article {
	position: relative;
}

section:nth-of-type(2) article  {
	display: grid;
	
	

	
}

.two article:nth-of-type( 1) {
	text-decoration: none;
	background-color: green;
	
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 1rem;
	padding-bottom: 1rem;

	margin-top: 1rem; /* Dit verplaatst de link meer naar beneden */
	margin-bottom: 1rem;
    display: inline-block; /* Maakt de marge effectief voor inline-elementen */
}

two section:nth-of-type(2) {
	background-color: white;
}

.two section:nth-of-type(2) img {
	width: 100%;
	border-radius: 0%;
}

.two section:nth-of-type(2) article {
	background-color: white;
	color: black;
	text-align: center;
	width: 100%;
	height: 100%;
	display: grid;

	
}

.two section:nth-of-type(2) article h2 {
	font-size: 32px;
    margin-bottom: 0.75em;
    margin-top: 0;
}

.two section:nth-of-type(2) article p {
	text-align: center;
	font-size: 0.8rem;
	margin-left: auto;
	margin-right: auto;
	

}

.two section:nth-of-type(2) {
	background-color: white;
}

.two section:nth-of-type(2) img {
	width: 100%;
	border-radius: 0%;
}

.two section:nth-of-type(2) article {
	background-color: white;
	color: black;
	text-align: center;
	width: 100%;
	height: 100%;
	display: grid;

	
}

.two section:nth-of-type(2) article h2 {
	font-size: 32px;
    margin-bottom: 0.75em;
    margin-top: 0;
}

.two section:nth-of-type(2) article p {
	text-align: center;
	font-size: 0.8rem;
	margin-left: auto;
	margin-right: auto;
	

}

.two section:nth-of-type(11) img {

}

section { /* Deze hoeft niet */
	max-width: 400px; 
  }
  
  section ul {
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	gap: 2em;
   }
  
   section ul li {
	padding: 1em;
	border: 3px solid black;
	border-radius: 1em;
	text-align: center;
	scroll-snap-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	max-height: 430px;
   }
  
  section ul li img { 
	grid-area: 1 / 1 / 3 / 2;
	max-height: 280px;
	max-width: 280px;
  }
  section ul li p { grid-area: 3 / 1 / 4 / 2; }
  section ul li h3 { grid-area: 4 / 1 / 5 / 2; }
  
  section ul li p,
  section ul li h3{
	text-align: left;
  }



  section:nth-of-type(3) h3 {
	text-align: center;
	color: #a3a3a3;
    font-weight: 500;
    letter-spacing: .07em;
    margin: 0 0 1.5em;
    text-transform: uppercase;
	line-height: 1.2em;
	font-size: 1rem;

}

section:nth-of-type(3) article h3 {
	font-weight: 500;
    line-height: 1.2em;
	font-size: clamp(1.25rem, .5vw + 1.15rem, 1.75rem);
	color: white;
	font-family: Helvetica Now Var W05 Regular, Helvetica, Arial, sans-serif;
	font-weight: bold;
}

<!-- Menu Items -->
<ul class="nav-menu" id="nav-menu">
	<li><a href="#home">Home</a></li>
	<li><a href="#about">About</a></li>
	<li><a href="#services">Services</a></li>
	<li><a href="#contact">Contact</a></li>
</ul>

console.log("hi");

var menu = document.getElementById('hamburger-icon');

menu.onclick = openMenu;

function openMenu() {
    var deNav = document.querySelector('header nav:nth-of-type(2)');

    deNav.classList.add("toonmenu")
}